includes:
    - vendor/cakedc/cakephp-phpstan/extension.neon

parameters:
    level: 5
    paths:
        - src
    bootstrapFiles:
        - tests/bootstrap.php
    treatPhpDocTypesAsCertain: false
    tmpDir: build/phpstan
    scanFiles:
        - vendor/cakephp/cakephp/src/Core/functions.php
        - vendor/cakephp/cakephp/src/I18n/functions.php

