<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    colors="true"
    processIsolation="false"
    stopOnFailure="false"
    bootstrap="./tests/bootstrap.php"
    >

    <!-- Add any additional test suites you want to run here -->
	<testsuites>
		<testsuite name="Database Test Suite">
			<directory>./tests/TestCase</directory>
		</testsuite>
	</testsuites>

	<extensions>
		<bootstrap class="Cake\TestSuite\Fixture\Extension\PHPUnitExtension"/>
		<bootstrap class="CakeDC\OracleDriver\Test\TestCase\DatabaseSuite"/>
	</extensions>

	<!-- Prevent coverage reports from looking in tests, vendors, config folders -->
	<source>
		<include>
			<directory suffix=".php">./src/</directory>
			<directory suffix=".ctp">./src/</directory>
		</include>
	</source>

	<php>
        <ini name="memory_limit" value="-1"/>
        <ini name="date.timezone" value="UTC"/>
		<env name="FIXTURE_SCHEMA_METADATA" value="./tests/schema.php"/>
		<env name="ORACLE_IDENTIFIER_QUOTING" value="1"/>
		<env name="ORACLE_RECREATE_SCHEMA" value="1"/>
		<env name="db_dsn" force="false"
			 value="oracle://username:password@XE?className=CakeDC\OracleDriver\Database\OracleConnection&amp;driver=CakeDC\OracleDriver\Database\Driver\OracleOCI&amp;host=oracle11g&amp;database=XE"/>
		<!-- oracle pdo
		<env name="db_dsn" value="oracle://username:password@XE?className=CakeDC\OracleDriver\Database\OracleConnection&amp;driver==CakeDC\OracleDriver\Database\Driver\OraclePDO&amp;host=oracle11g&amp;database=XE"/>


		 oracle oci

		<env name="db_dsn" value="oracle://username:password@XE?className=CakeDC\OracleDriver\Database\OracleConnection&amp;driver==CakeDC\OracleDriver\Database\Driver\OracleOCI&amp;host=oracle11g&amp;database=XE"/>

		-->
	</php>
</phpunit>
